.chat-main
  .chat-header
    .chat-left
      .chat-left__group
        = @group.name
      %ul.chat-left__member
        Member :  
        %li.chat-left__member__name
          - @group.users.each do |user|
            = user.name

    .chat-right
      =link_to edit_group_path(@group) do
        Edit

  .chat-middle
    = render @messages
          
  .chat-under
    .under-content
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .under-box
          = f.text_field :content, class: 'under-box__left', placeholder: 'type a message'
          = f.label :image, class: 'under-box__btn' do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'under-submit'

